:root {
  --color-f2f2f2: #F2F2F2;
  --color-fff: #FFF;
  --color-fff-shadow: rgba(0, 1, 1, .2);
  --color-000: #000;
  --color-81b3d2: #81B3D2;
  --color-000-opacity: rgba(0, 0, 0, .3);
  --color-766357: #766357;
  --color-333: #333;
  --color-eee: #EEE;
  --color-604E43:#604E43;
  --color-503e33:#503E33;
  --color-fff-opacity03:rgba(255, 255, 255, .3);
  --color-000-opacity015:rgba(0, 1, 1, .15);
  --color-fff-opacity09: rgba(255, 255, 255, .9);
  --color-81b3d2:#81B3D2;
  --color-669ec0:#669EC0;
  --color-5496bd:#5496BD;
  --color-e5e5e5:#E5E5E5;
  --color-666:#666;
}
body {
  font-family: 'PT Sans', sans-serif;
  background: var(--color-f2f2f2);
  padding: 0 20px;
  min-width: 1200px;
}
img { 
  max-width: 100%;
}
a {
  text-decoration: none;
  height: auto;
}
.container {
  background: var(--color-fff);
  -webkit-box-shadow: 0px 5px 15px var(--color-fff-shadow);
          box-shadow: 0px 5px 15px var(--color-fff-shadow);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header-site {
  position: relative;
  z-index: 1;
}
.logo-header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  max-width: 137px;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto 1fr 1fr;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  padding: 0 72px;
}
.menu-main__item {
  text-align: center;
  padding: 15px 0;
}
.menu-main__item:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  text-align: left;
}
.menu-main__item:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  padding-left: 34px;
  text-align: left;
}
.menu-main__item:nth-child(3) {
  -ms-grid-column: 4;
      grid-column-start: 4;
  padding-right: 34px;
  text-align: right;
}
.menu-main__item:nth-child(4) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  text-align: right;
}
.menu-main:before {
  content: "";
  width: 282px;
  -ms-grid-column: 3;
      grid-column-start: 3;
}
.menu-main__link {
  color: var(--color-000);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.menu-main__link[href]:hover {
  color: var(--color-81b3d2);
}
.menu-main__link[href]:active {
  color: var(--color-000-opacity);
}
.menu-main__link-current{
  color: var(--color-766357);
}
.main-container {}
.background-image-home {
  background: var(--color-81b3d2) url(../img/header-background.jpg) no-repeat center top;
  min-height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.background-image-home:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/header-background-mask.svg) no-repeat center top;
  height: 57px;
  background-size: cover;
}
.background-image-home_sedona {
  margin-top: 50px;
}
.section-information {
  padding-top: 42px;
  padding-bottom: 51px;
}
.page-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-000);
  margin: 0;
}
.page-description,.advantage-description {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-333);
}
.section-information__desc {
  margin-top: 43px;
}
.section-advantages {}
.advantages-list, .advantages-sub {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages-list {
  counter-reset: numbers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.advantages-list__column {
  background: var(--color-eee);
  width:calc((100% - 60px) / 3);
  min-height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.advantage-wrap {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
}
.background-blue {
  background: var(--color-81b3d2);
}
.advantage-title {
  color: var(--color-000);
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
}
.background-blue .advantage-title,.background-blue .advantage-description,.background-blue .advantage-number{
  color:var(--color-fff);
}
.advantage-number {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;
  text-align: center;
}
.advantage-number:after {
  counter-increment: numbers;
  content: "— №"counter(numbers)" —";
}
.advantage-description {
  line-height: 21px;
  color: var(--color-333);
  margin: 0;
}
.advantage-image {
  width: calc(69% - 28px);
}
.advantage-image__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.advantages-sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.advantages-sub__item {
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-bottom: 30px;
}
.advantages-icon-house:before {
  content: "";
  width: 75px;
  height: 72px;
  background: url(../img/icon-house.svg) no-repeat center center;
  margin-bottom: 25px;
}
.advantages-icon-food:before {
  content: "";
  width: 75px;
  height: 70px;
  background: url(../img/icon-food.svg) no-repeat center center;
  margin-bottom: 25px;
}
.advantages-icon-souvenir:before {
  content: "";
  width: 64px;
  height: 77px;
  background: url(../img/icon-souvenir.svg) no-repeat center center;
  margin-bottom: 25px;
}
.section-form {
  padding-top: 57px;
  max-width: 568px;
  margin: 0 auto;
}
.section-form__title {
  color: var(--color-000);
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 0;
}
.section-form__description {
  line-height: 24px;
  margin-bottom: 35px;
}
.search-button,.button-brown {
  color:var(--color-fff);
  background-color: var(--color-766357);
}
.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 66px;
  padding: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.search-button:hover,.button-brown:hover {
  background-color: var(--color-604E43);
}
.search-button:active,.button-brown:active {
  color:var(--color-fff-opacity03);
  background-color: var(--color-503e33);
}
.search-form {
  background-color: var(--color-fff);
  -webkit-box-shadow: 0px 5px 15px var(--color-000-opacity015);
          box-shadow: 0px 5px 15px var(--color-000-opacity015);
}
.contacts-map {}
.footer-site {
  background-color: var(--color-fff-opacity09);
  color: var(--color-000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 23px;
  padding-bottom: 38px;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1056px;
  margin: 0 auto;
  bottom: 0;
  z-index: 5;
}
.footer-contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 50px;
}
.footer-contact__item {
    margin-top: 11px;
}
.footer-contact__tel{
  color: var(--color-000);
}
.site-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 164px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}
.site-socials__item,.button {
  background-color: var(--color-81b3d2);
  color:var(--color-fff);
}
.site-socials__item {
  width: 46px;
  height: 48px;
  text-indent: -9999px;
  margin: 3px;
}
.site-socials__item:hover,.button:hover{
  background: var(--color-669ec0);
}
.site-socials__item:active,.button:hover{
  background: var(--color-5496bd);
}

.icon-twitter:after {}
.icon-facebook:after {}
.icon-youtube:after {}
.site-create {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-right: 66px;
  padding-top: 18px;
}
.site-create__link {
  vertical-align: middle;
  padding-left: 8px;
}

/*hostels*/
.section-filter {
  background:var(--color-81b3d2) url(../img/header-background-cat.jpg) no-repeat center center;
  background-size: cover;
}
.section-filter__col {
  text-transform: uppercase;
}
.section-filter__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-fff);
}
.section-filter__list {
  color: var(--color-fff);
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-filter__body {}
.container-header {}
.page-title-left{
  text-align: left;
}
.page-sortby {}
.page-sortby__item {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-000);
}
.page-sortby__link {
  color: var(--color-000-opacity);
  border-bottom: 1px dashed var(--color-81b3d2);
}
.page-sortby__link-current {
  border: transparent;
  color: var(--color-81b3d2);
}
.page-sortby__link:hover {
  color: var(--color-81b3d2);
}
.page-sortby__link:active {
  border: transparent;
  color: var(--color-000);
}
.page-orderby {}
.page-orderby__item {}
.page-orderby__item-current {}
.hostel-item {
  border-top: 1px solid var(--color-e5e5e5);
}
.hostel-item__image {}
.hostel-item__image-item {}
.hostel-item__info {}
.hostel-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hostel-title__link {
  color: var(--color-000);
}
.hostel-title__link:hover {
  color: var(--color-81b3d2);
}
.hostel-title__link:active {
  color: var(--color-000-opacity);
}
.additionally {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-333);
}
.additionally__name {}
.additionally__value {}
.buttons-list {}
.button, .button-brown {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.hostel-rating {}
.hostel-item__rating {}
.hostel-stars {}
.hostel-stars__item {}
.hostel-rating__result {
  background: var(--color-f2f2f2);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-666);
}