@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-f2f2f2: #F2F2F2;
  --color-fff: #FFF;
  --color-fff-shadow: rgba(0, 1, 1, .2);
  --color-000: #000;
  --color-81b3d2: #81B3D2;
  --color-000-opacity: rgba(0, 0, 0, .3);
  --color-766357: #766357;
  --color-333: #333;
  --color-eee: #EEE;
  --color-604E43:#604E43;
  --color-503e33:#503E33;
  --color-fff-opacity03:rgba(255, 255, 255, .3);
  --color-000-opacity015:rgba(0, 1, 1, .15);
  --color-fff-opacity09: rgba(255, 255, 255, .9);
  --color-669ec0:#669EC0;
  --color-5496bd:#5496BD;
  --color-e5e5e5:#E5E5E5;
  --color-666:#666;
  --color-cacaca:#cacaca;
  --color-bdbbbc:#BDBBBC;
  --color-ababab:#ababab;
  --color-a9a9a9:#a9a9a9;
  --color-red:red;
  --color-ebebeb:#EBEBEB;
  --color-ab-opacity03:rgba(171,171,171,.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  background: var(--color-f2f2f2);
  padding: 0 20px;
  min-width: 1200px;
  height: 100%;
}
img { 
  max-width: 100%;
}
a {
  text-decoration: none;
  height: auto;
}
.page {
  height: 100%;
}
.container {
  background: var(--color-fff);
  -webkit-box-shadow: 0px 5px 15px var(--color-fff-shadow);
  box-shadow: 0px 5px 15px var(--color-fff-shadow);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}
.header-site {
  position: relative;
  z-index: 1;
}
.logo-header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  max-width: 137px;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto 1fr 1fr;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
}
.container-body{
  padding-right:72px;
  padding-left:72px;
}
.menu-main__item {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
}
.menu-main__item:nth-child(1) {
  -ms-grid-column: 1;
  grid-column-start: 1;
  text-align: left;
}
.menu-main__item:nth-child(2) {
  -ms-grid-column: 2;
  grid-column-start: 2;
  padding-left: 34px;
  text-align: left;
}
.menu-main__item:nth-child(3) {
  -ms-grid-column: 4;
  grid-column-start: 4;
  padding-right: 34px;
  text-align: right;
}
.menu-main__item:nth-child(4) {
  -ms-grid-column: 5;
  grid-column-start: 5;
  text-align: right;
}
.menu-main:before {
  content: "";
  width: 282px;
  -ms-grid-column: 3;
  grid-column-start: 3;
}
.menu-main__link {
  color: var(--color-000);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.menu-main__link[href]:hover {
  color: var(--color-81b3d2);
}
.menu-main__link[href]:active,.menu-main__link[href]:focus {
  color: var(--color-000-opacity);
}
.menu-main__link-current{
  color: var(--color-766357);
}
.main-container {}
.background-image-home {
  background: var(--color-81b3d2) url(../img/header-background.jpg) no-repeat center top;
  min-height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.background-image-home:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/header-background-mask.svg) no-repeat center top;
  height: 57px;
  background-size: cover;
}
.background-image-home_sedona {
  margin-top: 50px;
}
.section-information {
  padding-top: 42px;
  padding-bottom: 51px;
}
.page-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-000);
  margin: 0;
}
.page-description,.advantage-description {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-333);
}
.section-information__desc {
  margin-top: 43px;
}
.section-advantages {}
.advantages-list, .advantages-sub {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages-list {
  counter-reset: numbers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.advantages-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.advantages-list__column {
  background: var(--color-eee);
  width:calc((100% - 60px) / 3);
  min-height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.advantage-wrap {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 14px;
}
.background-blue {
  background: var(--color-81b3d2);
}
.advantage-title {
  color: var(--color-000);
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
}
.background-blue .advantage-title,.background-blue .advantage-description,.background-blue .advantage-number{
  color:var(--color-fff);
}
.advantage-number {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;
  text-align: center;
}
.advantage-number:after {
  counter-increment: numbers;
  content: "— №"counter(numbers)" —";
}
.advantage-description {
  line-height: 21px;
  color: var(--color-333);
  margin: 0;
}
.advantage-image {
  width: calc(69% - 28px);
}
.advantage-image__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.advantages-sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.advantages-sub__item {
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 30px;
}
.advantages-icon-house:before {
  content: "";
  width: 75px;
  height: 72px;
  background: url(../img/icon-house.svg) no-repeat center center;
  margin-bottom: 25px;
}
.advantages-icon-food:before {
  content: "";
  width: 75px;
  height: 70px;
  background: url(../img/icon-food.svg) no-repeat center center;
  margin-bottom: 25px;
}
.advantages-icon-souvenir:before {
  content: "";
  width: 64px;
  height: 77px;
  background: url(../img/icon-souvenir.svg) no-repeat center center;
  margin-bottom: 25px;
}
.section-form {
  padding-top: 53px;
  max-width: 568px;
  margin: 0 auto;
}
.section-form__title {
  color: var(--color-000);
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 0;
}
.section-form__description {
  line-height: 24px;
  margin-bottom: 45px;
}
.search-button,.button-brown {
  color:var(--color-fff);
  background-color: var(--color-766357);
}
.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 66px;
  padding: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.search-button:hover,.button-brown:hover {
  background-color: var(--color-604E43);
}
.search-button:active,.button-brown:active,.search-button:focus,.button-brown:focus {
  color:var(--color-fff-opacity03);
  background-color: var(--color-503e33);
}
.search-form {
  background-color: var(--color-fff);
  -webkit-box-shadow: 0px 5px 15px var(--color-000-opacity015);
  box-shadow: 0px 5px 15px var(--color-000-opacity015);
  padding: 55px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.contacts-map {
  height: 594px;
  overflow: hidden;
}
.contacts-map img {
  display: block;
}
.container-index+.footer-site {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.footer-site {
  background-color: var(--color-fff-opacity09);
  color: var(--color-000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 23px;
  padding-bottom: 37px;
}
.footer-contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  min-width: 330px;
}
.footer-contact__item {
  margin-top: 8px;
}
.footer-contact__tel{
  color: var(--color-000);
}
.site-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 11px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.site-socials__link,.button,.button-blue{
  background-color: var(--color-81b3d2);
  color:var(--color-fff);
}
.site-socials__item {
  margin: 0 4px;
}
.site-socials__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
}
.site-socials__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-twitter:before{
  background-image: url(../img/icon-twitter.svg);
}
.icon-facebook:before{
  background-image: url(../img/icon-facebook.svg);
}
.icon-youtube:before{
  background-image: url(../img/icon-youtube.svg);
}
.site-socials__link:hover,.button:hover,.button-blue:hover{
  background: var(--color-669ec0);
}
.button:focus,.site-socials__link:focus,.button:focus,.button-blue:focus{
  background: var(--color-5496bd);
  color: var(--color-fff-opacity03);
}
.site-socials__link:focus:before{
  opacity: .3;
}
.site-create {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  min-width: 330px;
  margin-top: 12px;
}
.site-create__name {
  padding-left: 3px;
}
.site-create__link,.site-create__name {
  display: inline-block;
  vertical-align: middle;
}
.site-create__link {
  height: 41px;
  overflow: hidden;
  margin-left: 4px;
}
.site-create__link:hover path {
  fill: var(--color-81b3d2);
}
.site-create__link:focus path,.site-create__link:active path {
  fill: var(--color-bdbbbc);
}
/*hostels*/
.section-filter {
  background: var(--color-81b3d2) url(../img/header-background-cat.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 32px;
}
.section-filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-filter__col {
  text-transform: uppercase;
  margin-right: 119px;
}
.section-filter__col:last-child {
  margin-left: auto;
  max-width: 317px;
  margin-right: 0;
}
.section-filter__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-fff);
}
.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-list__label {
  color: var(--color-fff);
  font-size: 14px;
  line-height: 23px;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  position: relative;
}
.filter-list__item {
  margin-bottom: 23px;
}
.filter-list__item:last-child {
  margin-bottom: 0;
}
.section-filter__body {
  margin-top: 24px;
}
.section-filter__form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.filter-list__label:before,.filter-list__label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left top;
}
.filter-list__label:before {
  width: 23px;
  background-image: url(../img/checkbox-off.svg);
}
.filter-list__label:after {
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  opacity: 0;
}
.input-checkbox:checked+label:before {
  opacity: 0;
}
.input-checkbox:checked+label:after {
  opacity: 1;
}
.input-checkbox:focus+label{
  outline: -webkit-focus-ring-color auto 1px;
}
.input-checkbox:disabled+label:after {
  background-image: url(../img/checkbox-on-disabled.svg);
}
.input-checkbox:disabled+label:before {
  background-image: url(../img/checkbox-off-disabled.svg);
}
.price-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 2px solid var(--color-fff);
  border-radius: 2px;
  padding: 5px 0;
  font-size: 14px;
  line-height: 21px;
}
.price-fields__wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.price-fields__wrap:last-child {
  width: calc(44% - 2px);
  border-left: 2px solid var(--color-fff);
}
.price-fields__wrap-item {
  width: 45%;
}
.price-fields__wrap-item:first-child {
  text-align: right;
  width: 55%;
}
.price-fields__item {
  color: var(--color-fff);
  padding: 0 5px;
}
.price-fields__item-input {
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: var(--color-fff);
  font-size: 14px;
  line-height: 21px;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.section-filter__title+.range {
  margin-top: 12px;
}
.range-line {
  height: 2px;
  position: relative;
  margin: 20px 0;
}
.section-filter__button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid var(--color-fff);
  border-radius: 2px;
  background-color: transparent;
  padding: 6px 35px;
  color: var(--color-fff);
  display: block;
  margin: auto;
  margin-top: 13px;
  margin-left: 83px;
  cursor: pointer;
}
.section-filter__button:hover,.section-filter__button:focus {
  background-color: var(--color-fff);
  color: var(--color-000);
}
.range-line__current {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: var(--color-fff);
  z-index: 2;
}
.range-line:before {
  content: "";
  background: var(--color-fff);
  opacity: .3;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.range-line__toggle {
  width: 19px;
  height: 19px;
  position: absolute;
  top: -9px;
  background-color: var(--color-fff);
  -webkit-box-shadow: 0 2px 0 var(--color-ab-opacity03);
  box-shadow: 0 2px 0 var(--color-ab-opacity03);
  border-radius: 50%;
  cursor: pointer;
}
.range-line__toggle:hover{
  width: 23px;
  height: 22px;
  top: -10px;
}
.range-line__toggle:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--color-ababab);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 3;
}
.range-line__toggle-min {
  left: 0;
}
.range-line__toggle-max {
  right: 0;
}
.container-header {
  border-bottom: 1px solid var(--color-e5e5e5);
  padding-top: 29px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content auto -webkit-max-content;
  -ms-grid-columns: max-content auto max-content;
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
}
.page-title-left{
  text-align: left;
}
.page-sortby {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding:1px 48px 0;
}
.page-sortby__item {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-000);
  margin-right: 32px;
}
.page-sortby__name{
  margin-right: 41px;
}
.page-sortby__link {
  display: block;
  color: var(--color-000-opacity);
  border-bottom: 1px dashed var(--color-81b3d2);
}
.page-sortby__link-current {
  border: transparent;
  color: var(--color-81b3d2);
}
.page-sortby__link:hover {
  color: var(--color-81b3d2);
}
.page-sortby__link:active,.page-sortby__link:focus {
  border: transparent;
  color: var(--color-000);
}
.page-orderby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3px;
}
.page-orderby__item:nth-child(2n) {
  margin-left: 12px;
}
.page-orderby__item svg {
  display: block;
  width: 11px;
  height: 10px;
}
.page-orderby__item path {
  fill: var(--color-cacaca);
}
.page-orderby__item:hover path {
  fill: var(--color-000);
}
.page-orderby__item-current path,.page-orderby__item:focus path {
  fill: var(--color-81b3d2);
}
.page-orderby__icon-desc {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hostel-item {
  border-bottom: 1px solid var(--color-e5e5e5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 29px auto 29px -webkit-max-content;
  -ms-grid-columns: max-content 29px auto 29px max-content;
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  padding-top: 23px;
  padding-bottom: 27px;
  gap: 29px;
}
.hostel-item__image {
  width: 135px;
  height: 90px;
  overflow: hidden;
  margin: 5px 0;
}
.hostel-item__image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.hostel-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.hostel-title__link {
  color: var(--color-000);
}
.hostel-title__link:hover {
  color: var(--color-81b3d2);
}
.hostel-title__link:active,.hostel-title__link:focus {
  color: var(--color-000-opacity);
}
.additionally {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-333);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 235px;
  margin-left: -2px;
}
.additionally__name {
  width: calc(49% - 6px);
  padding: 3px;
}
.additionally__value {
  width: calc(51% - 6px);
  padding: 3px;
}
.buttons-list {
  margin-top: 12px;
}
.button, .button-brown {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 3px 18px;
  display: inline-block;
  vertical-align: middle;
}
.hostel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.hostel-stars {
  text-align: right;
}
.hostel-stars__item {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 27px;
  background: url(../img/icon-star.svg) no-repeat center center;
}
.hostel-rating__result {
  background: var(--color-f2f2f2);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-666);
  padding: 3px 12px;
  margin-bottom: 3px;
  width: 88px;
  text-align: right;
}
.form-relative {
  position: relative;
}
.form-relative__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 86px;
  z-index: 2;
}
.search-hide-form {
  top: 0;
  height: 20px;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-form__row,.search-form__col-counter {
  padding: 0;
  margin: 0;
  border: 0;
}
.search-form__col-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 27px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search-form__col:last-child {
  width: 75%;
  position: relative;
}
.search-form__col:first-child {
  width: 25%;
}
.search-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-000);
  text-transform: uppercase;
  display: block;
}
.search-form__input {
  width: calc(100% - 50px);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-000);
  background-color: var(--color-f2f2f2);
  padding: 5px 39px 5px 9px;
  border: 2px solid var(--color-f2f2f2);
}
.search-form__input:hover{
  background-color: var(--color-ebebeb);
  border-color: var(--color-ebebeb);
}
.search-form__input:focus,.search-form__input:active{
  background-color: var(--color-fff);
}
@-webkit-keyframes formTranslate {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes formTranslate {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.error-form{
  -webkit-animation: formTranslate 0.2s;
  animation: formTranslate 0.2s;
}
.calendar {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 1px;
  padding: 6px 0;
  width: 36px;
  text-align: center;
}
.calendar path {
  fill: var(--color-a9a9a9);
}
.calendar:hover path {
  fill: var(--color-000);
}
.calendar:focus path,.calendar:active path {
  fill: var(--color-81b3d2);
}
.search-form__col-counter:nth-child(1) .search-form__label {
  width: 114px;
}
.counters-input {
  width: 114px;
  text-align: center;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--color-f2f2f2);
}
.counters-input__item {
  text-align: center;
  padding: 5px;
  width: calc(32% - 12px);
  color: var(--color-000);
  background-color: var(--color-f2f2f2);
  border: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.counters-input__toggle {
  width: 38px;
  height: 38px;
  border: 0;
  cursor: pointer;
  background-color: var(--color-f2f2f2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.counters-input__toggle:hover rect,.counters-input__toggle:hover path{
  fill: var(--color-000);
}
.counters-input__toggle:focus rect,.counters-input__toggle:focus path{
  fill: var(--color-81b3d2);
}
.search-form__col-counter:nth-child(2) .search-form__label {
  padding-right: 30px;
}
.button-blue {
  display: block;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px;
  cursor: pointer;
}
.search-form__button {
  margin-top: 55px;
}